/* GÉNÉRAL */
:root {
	--primary: #8031A7;
	--secondary: #CC1FD3;
}
a {
	color: #8031A7;
}
a:hover {
	color: #CC1FD3;
}
a.btn.btn-default:hover{
	background-color: #CC1FD3;
}

/* TOOLBAR */
#app-toolbar {
	background:
		linear-gradient(
			to right,
			rgba(128, 49, 167, 0.4) 0%,
			whitesmoke 50%,
			whitesmoke 65%,
			rgba(204, 31, 211, 0.4) 100%
		);
}
mat-toolbar#app-toolbar .mat-raised-button,
mat-toolbar#app-toolbar .mat-icon-button {
 	background-color: transparent !important;
}
#appName h3 {
	color: #8031A7;
	font-weight: 900;
	font-size: 30px;
	line-height: 48px;
}
