<!--<h2>Convention « Droit d'accès ponctuel aux données précises de Biodiv’AURA Expert »</h2>-->

<p>
  <i>{{customData.userOrganism}}</i> représenté par <i>{{user.firstname}} {{user.lastname}}</i>
  désigné sous le terme « l’utilisateur identifié » s’engage à respecter les termes suivants
</p>

<h3>Préambule</h3>
<p>
	En Auvergne-Rhône-Alpes, Biodiv’AURA Expert est le portail public d’accès
	aux données naturalistes. Biodiv’AURA Expert est ainsi la plateforme
	régionale d’occurrence taxon du Système d’Information de l’iNventaire
	du Patrimoine naturel (SINP) en Auvergne-Rhône-Alpes.
</p>
<p>
	Le SINP est un programme national, porté par le Ministère chargé de
	l’Environnement et conçu comme une organisation collaborative pour la
	production, la gestion, le traitement, la valorisation et la diffusion
	des données sur la nature et les paysages. Son organisation est décrite
	dans le schéma métier du SINP (publié par décision du 30 août 2022).
</p>
<p>
	En facilitant l’accès à l’information, Biodiv’AURA Expert a pour objectif
	la connaissance et la conservation du patrimoine naturel régional. C’est un
	outil public et collectif au service de la prise en compte de la biodiversité,
	financé et piloté de façon partenariale.
</p>
<p>
	Les données de Biodiv’AURA Expert sont librement consultables à la précision
	maximale connue, sauf pour les données sensibles. Les données sensibles au
	titre de l’article L.124-4 du code de l’environnement tiennent lieu
	d’exception à la diffusion publique des données (publication en ligne et
	téléchargement). Il s’agit des données de localisation ne devant pas être
	largement diffusées pour éviter de porter atteinte aux éléments qu’elles
	concernent.
</p>
<p>
	L’accès à l’information plus détaillée s’agissant des données sensibles, est
	autorisé en réponse à des demandes ponctuelles et motivées, selon les
	<a
	href="https://www.biodiversite-auvergne-rhone-alpes.fr/documents/acces-aux-donnees-sensibles-du-sinp-auvergne-rhone-alpes/"
	target="_blank">
		principes validés
	</a>
	par le comité de pilotage.
</p>
<p>
	Les données et informations qui sont fournies dans le cadre de Biodiv’AURA
	Expert ne sont pas exhaustives et nécessitent la consultation d’autres
	sources, une réactualisation et des inventaires complémentaires dans le
	cadre de l’expertise.
</p>

<h3>Article 1. Objet de la Convention</h3>
<p>
	Cette convention établit les droits d’accès aux données sensibles précises de
	Biodiv’AURA Expert pour l’utilisateur identifié signataire de la présente
	convention, et les engagements liés à cet accord. Elle traite des aspects
	relatifs à la consultation, à l’exportation et à la réutilisation des données.
</p>

<h3>Article 2. Droits d’accès</h3>
<p>
  L’accès est accordé à <i>{{user.firstname}} {{user.lastname}}</i> - <i>{{customData.userOrganism}}</i>
  sur une demande motivée pour l’objet suivant : <i>{{customData.projectType}}</i>
</p>
<pre *ngIf="customData.projectDescription"> {{customData.projectDescription}} </pre>
<p>
  <i>{{user.firstname}} {{user.lastname}}</i> a reçu lors de son inscription un identifiant
  et un mot de passe personnel lui permettant l’accès au portail Biodiv’AURA
	Expert et aux données des occurrences de taxons. Les droits d’accès et les
	identifiants fournis sont strictement nominatifs et leur utilisation reste
	sous la responsabilité de « l’utilisateur identifié ».
</p>
<p>
	Biodiv’AURA Expert met à disposition l'ensemble des données validées
	contenues dans Biodiv’AURA Expert pour les droits de consultation suivants :
</p>
<ul>
    <li>délimitation géographique : {{accessRequest.areas}}</li>
    <li>
      groupes systématiques :
      <span *ngIf="accessRequest.taxa ; else allTaxa" [innerHtml]="accessRequest.taxa | safeHTML"></span>
      <ng-template #allTaxa><i>tous</i></ng-template>
    </li>
    <li>
      date de fin de mise à disposition :
      <span *ngIf="accessRequest.endAccessDate ; else unlimitedAccess">{{accessRequest.endAccessDate}}</span>
      <ng-template #unlimitedAccess><i>illimitée</i></ng-template>
    </li>
</ul>

<h3>Article 3. Utilisation des données de Biodiv’AURA Expert</h3>
<p>
	L’ouverture de droits d’accès aux données sensibles précises de Biodiv’AURA
	Expert est strictement subordonnée au respect des conditions suivantes :
</p>
<ul>
	<li>
		mentionner la paternité des données « Système d’Information de l’iNventaire
		du Patrimoine naturel - Biodiv’AURA Expert – date de l’extraction - sources
		(fournisseurs de données) » ou dans la mesure du raisonnable mentionner les
		cadres d'acquisition et/ou jeux de données mobilisés,
	</li>
	<li>
		ne pas rediffuser les données qui lui ont été communiquées quel que soit
		le support de diffusion (fichiers, web-service, site internet…)
	</li>
	<li>
		ne pas diffuser les codes d’accès qui sont nominatifs et sous sa responsabilité,
	</li>
</ul>
<p>
	Si ces droits d’accès sont accordés dans le cadre d’une étude faisant l’objet
	d’une commande spécifique d’un maître d’ouvrage, l’utilisateur identifié
	certifie sur l’honneur être effectivement missionné par le commanditaire,
	et :
</p>
<ul>
	<li>
		s’engage à n’utiliser les données de Biodiv’AURA Expert que dans le cadre de la mission
		ayant donné lieu à l’autorisation d’accès de la présente convention et à les
		détruire une fois le délai d’usage mentionné dépassé
	</li>
	<li>
		est invité à partager en retour les données qu’il aura acquises dans le
		cadre de son projet pour leur mise à disposition dans Biodiv’AURA Expert
		(<a
			href="https://www.biodiversite-auvergne-rhone-alpes.fr/transmettre-ses-donnees/"
			target="_blank">
			plus d’informations relatives à la transmission de données
		</a>).
	</li>
</ul>
<p>
	L’usage des données par l’utilisateur n’engage pas la responsabilité des
	animateurs ni des pilotes du SINP régional.
</p>

<h3>Résiliation de la convention</h3>
<p>
	La convention est établie pour la durée de mise à disposition précisée en
	article 2. Elle pourra être reconduite sur la base d’une nouvelle demande
	motivée. En cas de non-respect des engagements de la présente convention,
	elle peut être résiliée de façon unilatérale sans préavis.
</p>
