/* GÉNÉRAL */
:root {
	--primary: #8031A7;
	--secondary: #CC1FD3;
}
a {
	color: #8031A7;
}
a:hover {
	color: #CC1FD3;
}
a.btn.btn-default:hover{
	background-color: #CC1FD3;
}

/* LOGIN */
#login-body {
  background:
    url(../custom/images/logo-pole-vertebres.png) bottom 10px right 10px no-repeat,
    url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJ5ZXMiPz4KPCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIGlkPSJXaGl0ZSBDaXJjbGUiIHZpZXdib3g9IjAgMCA2MDAgNjAwIiB3aWR0aD0iNjAwIiBoZWlnaHQ9IjYwMCI+Cgk8Y2lyY2xlIGlkPSJXaGl0ZV9jaXJjbGUiIGZpbGw9IiNmZmYiIGN4PSIzMDAiIGN5PSIzMDAiIHI9IjMwMCIgLz4KPC9zdmc+Cg==)
		bottom 5px right 5px no-repeat,
	url(../custom/images/logo-pole-flore.png) bottom 10px right 130px no-repeat,
	url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJ5ZXMiPz4KPCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIGlkPSJXaGl0ZSBDaXJjbGUiIHZpZXdib3g9IjAgMCA2MDAgNjAwIiB3aWR0aD0iNjAwIiBoZWlnaHQ9IjYwMCI+Cgk8Y2lyY2xlIGlkPSJXaGl0ZV9jaXJjbGUiIGZpbGw9IiNmZmYiIGN4PSIzMDAiIGN5PSIzMDAiIHI9IjMwMCIgLz4KPC9zdmc+Cg==)
		bottom 5px right 125px no-repeat,
    url(../custom/images/logo-pole-invertebres.png) bottom 10px right 250px no-repeat,
	url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJ5ZXMiPz4KPCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIGlkPSJXaGl0ZSBDaXJjbGUiIHZpZXdib3g9IjAgMCA2MDAgNjAwIiB3aWR0aD0iNjAwIiBoZWlnaHQ9IjYwMCI+Cgk8Y2lyY2xlIGlkPSJXaGl0ZV9jaXJjbGUiIGZpbGw9IiNmZmYiIGN4PSIzMDAiIGN5PSIzMDAiIHI9IjMwMCIgLz4KPC9zdmc+Cg==)
		bottom 5px right 245px no-repeat,
    url(../custom/images/logo-orb.png) bottom 3px right 370px no-repeat,
    url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJ5ZXMiPz4KPCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIGlkPSJXaGl0ZSBDaXJjbGUiIHZpZXdib3g9IjAgMCA2MDAgNjAwIiB3aWR0aD0iNjAwIiBoZWlnaHQ9IjYwMCI+Cgk8Y2lyY2xlIGlkPSJXaGl0ZV9jaXJjbGUiIGZpbGw9IiNmZmYiIGN4PSIzMDAiIGN5PSIzMDAiIHI9IjMwMCIgLz4KPC9zdmc+Cg==)
		bottom 5px right 372px no-repeat,
    url(../custom/images/login_background.jpg) center 10% no-repeat
    !important;
  background-size: 100px 100px, 110px 110px, 100px 100px, 110px 110px, 100px 100px, 110px 110px, 115px 115px, 110px 110px, cover !important;
}

#login-body::before {
  font-weight: bold;
  color: white;
  white-space: pre;
  content: "Lapin de garenne\a© Géraldine Le Duc - LPO";
  position: absolute;
  font-style: italic;
  bottom: 5px;
  left: 5px;
}


/* TOOLBAR */
#app-toolbar {
	background:
		linear-gradient(
			to right,
			rgba(128, 49, 167, 0.4) 0%,
			whitesmoke 50%,
			whitesmoke 65%,
			rgba(204, 31, 211, 0.4) 100%
		);
}
mat-toolbar#app-toolbar .mat-raised-button,
mat-toolbar#app-toolbar .mat-icon-button {
 	background-color: transparent !important;
}
#appName h3 {
	color: #8031A7;
	font-weight: 900;
	font-size: 30px;
	line-height: 48px;
}
