footer.footer {
	background-color: #dce3e7;
	border-top: none;
  margin: 0 0 20px 0;
}
footer {
	.panel-body {
		text-align: center;
	}
  .logo-title {
    font-size: 15px;
    font-weight: 600;
    color: #54595F;
  }
	.img-thumbnail {
		margin: .25rem;
    border-color: white;
	}
	.img-thumbnail:hover {
		border-color: #8031A7;
	}
	.text-muted {
		text-transform: none !important;
	}
  .col-logos {
    padding: 15px;
  }
  .col-pilots .logo-title {
    padding: 0 5px;
  }
  // Medium devices (desktops, 992px and up) = @screen-md-min
  @media (min-width: 992px) {
    .col-pilots {
      border-left: #8031A7 1px solid;
      border-right: #8031A7 1px solid;
    }
  }
  // Smal devices
  @media (min-width: 768px) {
    .logos-pilots .col-md-4 {
      padding-right: 5px !important;
      padding-left: 5px !important;
    }
    .logos-operators .col-md-2 {
      padding-right: 5px !important;
      padding-left: 5px !important;
      flex: 0 0 20%;
      max-width: 20%;
    }
  }
}

.modal-body {
  address {
    border: 1px solid #ddd;
    border-left: 5px solid #ddd;
    border-radius: 5px;
    background-color: #eee;
    padding: 10px 20px;
  }
  blockquote {
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid #eee;
    border-left: 5px solid #eee;
    border-radius: 5px;
    padding: 10px 20px;
  }
}
