<footer class="container-fluid footer">

	<div class="row row-0">
		<div class="col-xs-12 padding-sm">
			<div class="panel panel-default">
				<div class="panel-body">
          <div class="row  align-items-center">
            <div class="col-md-12 col-lg-2 col-logos col-orb">
              <a href="https://www.biodiversite-auvergne-rhone-alpes.fr/"
                target="_blank"
                title="Accéder au site de l'Observatoire de la Biodiversité en Auvergne-Rhône-Alpes">
                <img class="img-thumbnail"
                  src="custom/images/logo-orb.png"
                  alt="Logo ORB Auvergne-Rhône-Alpes" />
              </a>
            </div>
            <div class="col-md-12 col-lg-4 col-logos col-pilots">
              <div class="row logo-title">
                Piloté par la DREAL, la Région Auvergne-Rhône-Alpes et l'Office Français de la Biodiversité
              </div>

              <div class="row align-items-center logos-pilots">
                <a	href="http://www.auvergne-rhone-alpes.developpement-durable.gouv.fr/"
                  class="col-sm-12 col-md-4"
                  target="_blank"
                  title="Accéder au site de la DREAL Auvergne-Rhône-Alpes">
                  <img class="img-thumbnail"
                    src="custom/images/logo-dreal.png"
                    alt="Logo DREAL Auvergne-Rhône-Alpes" />
                </a>

                <a	href="https://www.auvergnerhonealpes.fr/"
                  class="col-sm-12 col-md-4"
                  target="_blank"
                  title="Accéder au site de la Région Auvergne-Rhône-Alpes">
                  <img class="img-thumbnail"
                    src="custom/images/logo-aura.png"
                    alt="Logo AURA" />
                </a>

                <a	href="https://ofb.gouv.fr/"
                  class="col-sm-12 col-md-4"
                  target="_blank"
                  title="Accéder au site de l'Office Français de la Biodiversité">
                  <img class="img-thumbnail"
                    src="custom/images/logo-ofb.png"
                    alt="Logo OFB" />
                </a>
              </div>
            </div>
            <div class="col-md-12 col-lg-6 col-logos col-operators">
              <p class="logo-title">Opéré par les animateurs thématiques :</p>

              <div class="row align-items-center logos-operators">
                <a href="https://cbn-alpin.fr/"
                  class="col-sm-12 col-md-2"
                  target="_blank"
                  title="Accéder au site du CBN Alpin">
                  <img class="img-thumbnail"
                    src="custom/images/logo-cbna.png"
                    alt="Logo CBN Alpin" />
                </a>

                <a href="https://www.cbnmc.fr/"
                  class="col-sm-12 col-md-2"
                  target="_blank"
                  title="Accéder au site du CBN du Massif Central">
                  <img class="img-thumbnail"
                    src="custom/images/logo-cbnmc.png"
                    alt="Logo CBN du Massif Central" />
                </a>

                <a href="http://www.flavia-ape.fr/"
                  class="col-sm-12 col-md-2"
                  target="_blank"
                  title="Accéder au site de Flavia APE">
                  <img class="img-thumbnail"
                    src="custom/images/logo-flavia.png"
                    alt="Logo Flavia APE" />
                </a>

                <a href="https://auvergne-rhone-alpes.lpo.fr/"
                  class="col-sm-12 col-md-2"
                  target="_blank"
                  title="Accéder au site de la LPO Auvergne-Rhône-Alpes">
                  <img class="img-thumbnail"
                    src="custom/images/logo-lpo.png"
                    alt="Logo LPO AURA" />
                </a>

                <a href="http://www.chasseauvergnerhonealpes.com/"
                  class="col-sm-12 col-md-2"
                  target="_blank"
                  title="Accéder au site de la FRC Auvergne-Rhône-Alpes">
                  <img class="img-thumbnail"
                    src="custom/images/logo-frc.png"
                    alt="Logo FRC AURA" />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">
      <p class="text-muted">
        <a href="https://www.biodiversite-auvergne-rhone-alpes.fr/" target="_blank">Site de l'ORB AURA</a>
        |
        <a href="#" (click)="open(legalNotice)">Mentions légales</a>
        <br/>
        Biodiv'AURA Expert - ORB AURA, {{currentCopyrightYear}}
        <br/>
        Réalisé avec <a href="https://github.com/PnX-SI/GeoNature" target="_blank">GeoNature</a>,
        déployé par le <a href="https://cbn-alpin.fr/" target="_blank">Conservatoire Botanique National Alpin (CBNA)</a>
      </p>
    </div>
  </div>
</footer>

<ng-template #legalNotice let-modal>
  <div class="modal-header">
    <h2 class="modal-title" id="modal-basic-title">
      Mentions légales
    </h2>

    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <p>
      Vous êtes sur le site officiel de Biodiv’AURA, plateforme régionale du
      Système d'information de l'INventaire du patrimoine naturel (SINP) de la
      région Auvergne-Rhône-Alpes. Ce site a pour objectif de permettre la
      visualisation des données d’occurrences pour les taxons de faune et de
      flore d’Auvergne-Rhône-Alpes.
    </p>

    <h3>Institutions à l'initiative du site</h3>
    <p>
      Le présent site concerne l’ORB dont le comité de pilotage est co-présidé
      par l'Etat (DREAL, OFB) et la Région Auvergne-Rhône-Alpes.
    </p>
    <address>
      <strong>Direction Régionale de l'Environnement de l'Aménagement et du Logement (DREAL) Auvergne-Rhône-Alpes</strong><br/>
      69453 Lyon Cedex 06<br/>
      Tél. : 04 26 28 60 00 -
      <a href="mailto:pn.ehn.dreal-ara@developpement-durable.gouv.fr">
        pn.ehn.dreal-ara@developpement-durable.gouv.fr
      </a>
    </address>
    <address>
      <strong>Région Auvergne-Rhône-Alpes</strong><br/>
      1 esplanade François Mitterrand<br/>
      CS 20033 - 69269 Lyon Cedex 02<br/>
      Tél. 04 26 73 40 00 -
      <a href="mailto:dee@auvergnerhonealpes.fr">
        DEE@auvergnerhonealpes.fr
      </a>
    </address>
    <address>
      <strong>Direction régionale de l’Office français de la biodiversité</strong><br/>
      Parc de Parilly – Chemin des chasseurs – 69500 Bron<br/>
      Tél. 04 72 78 89 41 -
      <a href="mailto:dr.auvergne-rhone-alpes@ofb.gouv.fr">
        dr.auvergne-rhone-alpes@ofb.gouv.fr
      </a>
    </address>


    <h3>Publication</h3>
    <p>
      La direction de la publication est assurée par le comité de pilotage
      de l'Observatoire, représenté par le directeur de la DREAL Auvergne-Rhône-Alpes,
      le directeur général des services de la Région Auvergne-Rhône-Alpes et
      le directeur régional de l’OFB.
    </p>
    <p>
      L'enrichissement du site et la mise en ligne des contenus sont assurés par
    </p>
    <ul>
      <li>Conservatoire botanique national alpin (CBNA) Domaine de Charance 05 000 GAP</li>
      <li>Conservatoire botanique national du Massif central (CBNMC) Le Bourg 43230 CHAVANIAC-LAFAYETTE</li>
      <li>FLAVIA APE 10 route de Cozance 38460 TREPT</li>
      <li>Ligue de protection des oiseaux (LPO) Maison de l'Environnement, 14 avenue Tony Garnier 69007 Lyon</li>
      <li>Fédération régionale des chasseurs (FRC) 10 Impasse Saint-Exupéry, BP 30152 Andrézieux-Bouthéon 42163 Cedex</li>
    </ul>


    <h3>Réalisation du site Internet</h3>
    <p>
      La conception technique est effectuée par le Conservatoire Botanique National Alpin (CBNA).
    </p>


    <h3>Serveurs et hébergements</h3>
    <address>
      <strong>Société OVH</strong>, RCS Roubaix-Tourcoing B 424 761 419<br/>
      2, rue Kellerman, 59100 Roubaix
    </address>


    <h3>Traitement et protection des données</h3>
    <p>
      Les données personnelles diffusées sur le site Biodiv'AURA Expert via les données naturalistes
      (nom de l’observateur, date et lieu) résultent de la communication volontaire du fournisseur
      lors de l'envoi de ses données auprès de la plateforme Biodiv'AURA ou de l’un des
      Pôles thématiques.<br/>
      Vous disposez d'un droit d'accès, de modification, de rectification et de suppression
      des données qui vous concernent (art. 34 de la loi "Informatique et Libertés").<br/>
      Vous pouvez l'exercer par courriel en le précisant lors de votre demande :
      <a href="mailto:contact@biodiversite-aura.fr">contact@biodiversite-aura.fr</a>
    </p>


    <h3>Établissements de liens</h3>
    <p>
      <strong>
        Lien depuis des sites tiers vers
        <a href="https://atlas.biodiversite-auvergne-rhone-alpes.fr/">
          https://atlas.biodiversite-auvergne-rhone-alpes.fr/
        </a> :
      </strong>
      le comité de pilotage de l'Observatoire autorise la mise en place d'un lien
      hypertexte depuis n'importe quel site Internet (sous réserve d'une
      information préalable), à l'exclusion de ceux diffusant des informations
      à caractère polémique, pornographique, xénophobe ou pouvant, dans une plus
      large mesure porter atteinte à la sensibilité du plus grand nombre. Le
      site doit apparaître dans une nouvelle fenêtre. Les pages du site ne
      doivent en aucun cas être intégrées à l'intérieur des pages d'un autre
      site (Frame ou iframe). Dans tous les cas, le comité de pilotage de
      l'Observatoire se réserve le droit de demander la suppression d'un lien
      s’il estime que le référent (site source) ne respecte pas les règles
      ainsi définies.
    </p>
    <p>
      <strong>
        Lien depuis
        <a href="https://atlas.biodiversite-auvergne-rhone-alpes.fr/">
          https://atlas.biodiversite-auvergne-rhone-alpes.fr/
        </a>
        vers des sites tiers :
      </strong>
      le comité de pilotage de l'Observatoire et l’équipe éditoriale se réservent
      le droit de "pointer" vers des sites tiers. Accéder à ces liens ne vous
      fait pas quitter https://atlas.biodiversite-auvergne-rhone-alpes.fr/.
      Les sites cibles ne sont pas sous le contrôle de l’équipe éditoriale,
      par conséquent elle n'est pas responsable du contenu de ces sites, des
      liens qu'ils contiennent, ni des changements ou mises à jour qui leur
      sont apportés.
    </p>


    <h3>Diffusion des données</h3>
    <p>
      La diffusion des données se fait conformément aux
      <a href="https://www.biodiversite-auvergne-rhone-alpes.fr/" target="_blank">
        Chartes existantes des Pôles thématiques
      </a>, documents de référence reconnus par les fournisseurs de données.
      <br/>
      En utilisant le site, vous reconnaissez avoir pris connaissance de ces
      chartes et les avoir acceptées. Celles-ci pourront être modifiées à
      tout moment et sans préavis.
    </p>
    <p>
      Par défaut, après création d’un compte, Biodiv’AURA Expert présente
      l'ensemble des observations mises à dispositions par les adhérents du
      SINP et des fournisseurs synthétisées à la maille pour les données
      relatives à la flore, la fonge et aux invertébrés et avec la précision
      géographique maximale pour les données relative à la faune vertébrée.
      Après validation d’une demande d’accès par les administrateurs,
      Biodiv’AURA Expert présente l’ensemble des observations mises à
      dispositions par les adhérents du SINP et des fournisseurs avec la
      précision géographique maximale connue (sur le périmètre faisant
      l’objet de la demande d’accès).
    </p>
    <p>
      Certaines données, qualifiées de sensibles ou privées peuvent ne pas être
      communiquées dans le respect des articles suivants du code de l’environnement :
    </p>
    <p>
      L'article L311-5 du code des relations entre le public et l’administration
      précise les documents qui ne sont pas communicables :<br/>
      Ne sont pas communicables les documents administratifs dont la
      consultation ou la communication porterait atteinte à (…) et aux cas
      définis à l'article L. 124-4 du code de l'environnement :
    </p>
    <blockquote>
      <p>
        I.-Après avoir apprécié l'intérêt d'une communication, l'autorité
        publique peut rejeter la demande d'une information relative à
        l'environnement dont la consultation ou la communication porte
        atteinte :<br/>
        (...)<br/>
        2° A la protection de l'environnement auquel elle se rapporte ;<br/>
        3° Aux intérêts de la personne physique ayant fourni, sans y être
        contrainte par une disposition législative ou réglementaire ou par
        un acte d'une autorité administrative ou juridictionnelle, l'information
        demandée sans consentir à sa divulgation ;<br/>
        (...)
      </p>
      <footer><cite>Article L124-4 du code de l'environnement</cite></footer>
    </blockquote>
    <blockquote>
      <p>
        « I.-Le rejet d'une demande d'information relative à l'environnement
        est notifié au demandeur par une décision écrite motivée précisant
        les voies et délais de recours (...). »
      </p>
      <footer><cite>Article L.124-6 du code de l’environnement</cite></footer>
    </blockquote>


    <h3>Modalités de réutilisation des informations</h3>
    <p>
      L’utilisation des données se fait conformément aux
      <a href="https://www.biodiversite-auvergne-rhone-alpes.fr/" target="_blank">
        chartes des Pôles thématiques
      </a>, documents de référence reconnus par les fournisseurs de données.
      En utilisant le site, vous reconnaissez avoir pris connaissance des chartes
      et les avoir acceptées. Celles-ci pourront être modifiées à tout moment
      et sans préavis.
    </p>
    <blockquote>
      <p>
        « Les informations publiques figurant dans des documents communiqués
        ou publiés par les administrations mentionnées au premier alinéa de
        l'article L. 300-2 peuvent être utilisées par toute personne qui le
        souhaite à d'autres fins que celles de la mission de service public
        pour les besoins de laquelle les documents ont été produits ou reçus.
        <br/>
        Les limites et conditions de cette réutilisation sont régies par le
        présent titre. »
      </p>
      <footer>
        <cite>
          Article L321-1 du code des relations entre le public et l’administration
        </cite>
      </footer>
    </blockquote>

    <blockquote>
      <p>
        « Sauf accord de l'administration, la réutilisation des informations
        publiques est soumise à la condition que ces dernières ne soient pas
        altérées, que leur sens ne soit pas dénaturé et que leurs sources et
        la date de leur dernière mise à jour soient mentionnées. »
      </p>
      <footer>
        <cite>
          Article L322-1 du code des relations entre le public et l’administration
        </cite>
      </footer>
    </blockquote>
    <p>
      Consulter également
      <a href="https://www.biodiversite-auvergne-rhone-alpes.fr/" target="_blank">
        les chartes des Pôles thématiques</a>.
    </p>


    <h3>Dispositions légales - Propriété</h3>
    <p>
      Le fait d'accéder au site ne donne pas le droit de l'utiliser sans
      l'accord de l’équipe éditoriale : tous les droits de reproduction
      sont réservés en vertu de l'article L.122-4 du code de la Propriété
      intellectuelle.
    </p>
    <p>
      Toute utilisation des ressources (photographiques, iconographiques,
      textuelles ou relatives à la forme, la mise en page, la structure, les
      logotypes et les documents téléchargeables...) présentes sur ce site
      doit faire l'objet d'une autorisation expresse de l’équipe éditoriale.
    </p>
    <p>
      À titre principal, l’équipe éditoriale concède une autorisation de
      visualisation du contenu du site.
    </p>


    <h3>Responsabilité</h3>
    <p>
      La plate-forme Biodiv'AURA Expert met tout en œuvre pour assurer une information
      fiable et une mise à jour fiable de ses sites internet. Toutefois,
      des erreurs ou omissions peuvent survenir. Biodiv'AURA Expert ne peut garantir
      l’exhaustivité de l’information. Le comité de pilotage de l'Observatoire
      décline donc toute responsabilité en cas d'erreur ou d'omission.
    </p>
    <p>
      L’utilisateur devra donc s'assurer de l'exactitude des informations
      et signaler toutes modifications du site qu'il jugerait utile.
    </p>
    <p>
      Le comité de pilotage de l'Observatoire n'est en aucun cas responsable
      de l'utilisation faite de ces informations, et de tout préjudice direct
      ou indirect pouvant	en découler.
    </p>
    <p>
      L’équipe éditoriale se réserve le droit de modifier, tout ou partie
      des informations contenues dans les pages de ce site Internet, à tout
      moment et sans notification préalable.
    </p>
    <p>
      Il appartient à l'utilisateur de ce site de prendre toutes les
      mesures appropriées de façon à protéger ses propres données et/ou
      logiciels de la contamination par d'éventuels virus circulant sur le
      réseau Internet. De manière générale, le comité de pilotage de l'Observatoire
      décline toute responsabilité à un éventuel dommage survenu pendant
      la consultation du présent site.
    </p>

  </div>
</ng-template>
