<div class="panel panel-default">
	<div id="intro-bloc" class="row">
		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 textIntroduction">
			<h1>Bienvenue sur Biodiv'AURA Atlas</h1>

			<p>
				L’Observatoire Régional de la Biodiversité vous invite à découvrir
				la vie qui vous entoure en Auvergne-Rhône-Alpes.
			</p>
			<p>
				Vous souhaitez connaitre la répartition d’une espèce ? Découvrir
				la biodiversité qui se cache sur votre commune ? Biodiv'AURA Atlas
				vous permet de faire connaissance, en quelques clics, avec la faune
				et la flore de votre région !
			</p>
			<p>
				Cet atlas diffuse l’ensemble des données mises à disposition par notre
				vaste réseau de partenaires auprès des Pôles thématiques d’Auvergne-Rhône-Alpes.
			</p>
			<p>
				Ce portail s’enrichit de jour en jour, grâce à nos partenaires engagés
				en faveur de la biodiversité, mais les données mises à disposition ne
				peuvent être considérées comme exhaustives.
			</p>
			<p>
				Pour vous aider dans la prise en main de Biodiv'AURA Atlas, vous pouvez
				<a href="https://www.biodiversite-auvergne-rhone-alpes.fr/foire-aux-questions/" target="_blank">
					consulter la Foire aux question
				</a>
				dédiée à cet outil.
			</p>
			<p>
				Pour en savoir plus sur l’ORB, les Pôles thématiques ou encore sur la
				mutualisation des données, rendez-vous sur le portail internet de
				l’
				<a href="https://www.biodiversite-auvergne-rhone-alpes.fr/" target="_blank">
					Observatoire Régional de la Biodiversité
				</a>.
			</p>
			<p>
				Vous êtes un utilisateur expérimenté (service de l’Etat, collectivité,
				association, bureau d’étude, ...) ? Rendez-vous sur
				<a href="https://donnees.biodiversite-auvergne-rhone-alpes.fr/" targer="_blank">
					Biodiv'AURA Expert
				</a>
				pour accéder aux données naturalistes géolocalisées.
			</p>
			<p>
				<a
					href="{{ url_for('main.get_staticpages', page='presentation') }}"
					class="btn btn-default btn-success">
					En savoir plus
				</a>
			</p>
		</div>
		<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
			<img
				src="{{ url_for('static', filename='custom/images/accueil-intro.jpg') }}"
				alt="Biodiv'AURA Atlas"
				title="Aporia crataegi - © Ornella KRISTO (CBNA)"
				width="100%"
			/>
		</div>
	</div>
</div>
