<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">X</button>
  <h1>MENTIONS LÉGALES</h1>
</div>

<div class="modal-body credits">
	<p class="lead">Intro...</p>

	<h3>Responsable de publication</h3>


	<h3>Réalisation du site Internet</h3>


	<h3>Serveurs et hébergements</h3>
  <p>
    Société OVH, RCS Roubaix-Tourcoing B 424 761 419<br/>
    2, rue Kellerman, 59100 Roubaix
  </p>


	<h3>Traitement et protection des données</h3>


	<h3>Établissements de liens</h3>

	<h3>Modalités de réutilisation des informations</h3>


	<h3>Dispositions légales - Propriété</h3>


</div>
