<!-- Réalisée à partir de https://startbootstrap.com/template-overviews/one-page-wonder/ et http://getbootstrap.com/examples/carousel/ -->
<!DOCTYPE html>
<html>
   <head>
		<meta charset="utf-8" />
		<title>Présentation de l'atlas | {{configuration.NOM_APPLICATION}} - {{configuration.STRUCTURE}}</title>

		<!-- Jquery -->
		<script type=text/javascript src="{{url_for('static', filename='lib/jquery-1.12.4.min.js') }}"></script>
		<script type=text/javascript src="{{url_for('static', filename='lib/jquery-ui.min.js') }}"></script>
		<link rel="stylesheet" href="{{url_for('static', filename='lib/jquery-ui.css') }}" />

		<!-- Bootstrap -->
		<link rel="stylesheet" href="{{url_for('static', filename='lib/bootstrap/css/bootstrap.min.css') }}" />
		<script type=text/javascript src="{{url_for('static', filename='lib/bootstrap/js/bootstrap.min.js') }}"></script>

		<!-- Atlas -->
		<link rel="shortcut icon" href="{{ url_for('static', filename='custom/images/favicon.ico') }}">
		<link rel="stylesheet" href="{{url_for('static', filename='css/atlas.css') }}" />
		<link rel="stylesheet" href="{{url_for('static', filename='css/static_pages.css') }}" />
		<link rel="stylesheet" href="{{url_for('static', filename='custom/custom.css') }}" />
   </head>
   <body  data-spy="scroll" data-target="#sommaire">
    {% include 'templates/navbar.html' %}

		<div id="sideBar">
			{% include 'templates/sideBar.html' %}
		</div>
		<div class="container-fluid" id="page">
            <div class="container presentation">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<h2 id="general">Présentation de Biodiv'AURA Atlas</h2>
						<p>
							A partir de 2021, l’Observatoire régional de la biodiversité
							d’Auvergne-Rhône-Alpes vous propose de consulter les données relatives
							à la faune, la flore et la fonge. S’appuyant sur trois pôles thématiques,
							Biodiv'AURA Atlas vous permet d’accéder à près de 12 millions de données
							sur l’ensemble du territoire régional.
						</p>
						<p>
							Depuis 2011, le Pôle d’information flore-habitats-fonge (PIFH)
							d’Auvergne-Rhône-Alpes fédère un réseau de partenaires autour de la
							connaissance et de la préservation de la flore sauvage. Pas loin de 9 millions
							de données sont ainsi centralisées, standardisées et diffusées par les animateurs
							du Pôle
							(<a href="https://www.cbn-alpin.fr/" target="_blank">
								Conservatoire botanique national alpin
							</a>
							et <a href="https://www.cbnmc.fr/" target="_blank">
								Conservatoire botanique national du Massif central
							</a>).
						</p>
						<p>
							En 2018, l’idée de créer un Pôle invertébrés d’Auvergne-Rhône-Alpes voit le jour !
							L’organisation du réseau d’acteurs et son animation par l’association
							<a href="https://www.flavia-ape.fr/" target="_blank">Flavia APE</a>
							a déjà permis de centraliser plus de 1 million de données.
						</p>
						<p>
							À partir de 2020, le Pôle thématique lié à la faune vertébrée vient compléter
							l’Observatoire de la biodiversité permettant ainsi d’ajouter 2 millions de données
							centralisées et standardisées d’une part par la
							<a href="https://auvergne-rhone-alpes.lpo.fr/" target="_blank">
								Ligue de protection des oiseaux (LPO)
							</a>
							et d’autre part par la
							<a href="https://www.chasseauvergnerhonealpes.com/" target="_blank">
								Fédération régionale des chasseurs (FRC)
							</a>.
						</p>
						<p>
							Une des forces de l’Observatoire de la biodiversité d’Auvergne-Rhône-Alpes est sa
							volonté de diffuser une information de qualité. Une attention particulière est ainsi
							portée à la validation des données.
						</p>
						<p>
							À travers Biodiv'AURA Atlas, chaque citoyen peut découvrir la biodiversité d’une
							commune et se familiariser avec la répartition des espèces sur l’ensemble du
							territoire régional.
						</p>
						<p>
							Véritable carrefour biogéographique, le territoire d’Auvergne-Rhône-Alpes présente
							une variété de climats exceptionnel et présente une grande diversité d’espèces que
							nous vous invitons à découvrir dans Biodiv'AURA Atlas !
						</p>
					</div>
				</div>
			</div>
        </div>

		{% if configuration.AFFICHAGE_FOOTER %}
			{% include 'static/custom/templates/footer.html' %}
		{% endif %}

        <script type="text/javascript">
        var configuration = {{configuration|tojson}};
        </script>

        <script src="{{url_for('static', filename='main.js') }}"></script>

   </body>
</html>
